
  .nav{
    border:1px solid #ccc;
    border-width:0px 0px;
    list-style:none;
    margin:0;
    height: 100%; 
    margin-top: -10px;  
    margin-right: -10px;;
    background-color: #ccc;
    text-align:center;
    
}
.nav li{
    display:inline;
    color: #000000;

}
.nav a{
    display:inline-block;
    padding:10px;
    color: #000000;

}
  
.nav a:hover {
    background-color: #f1f1f1;
  }
.sidenav {
    height: 200px;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ccc;
    overflow-x: hidden;
    padding-top: 35px;
  }
  
  .sidenav a {
    padding: 10px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  .left{
      float:right;
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    left:0;
    top: 0;
  }